In [1]:
import pandas as pd
import numpy as np

In [2]:
np.nan

nan

In [3]:
np.inf

inf

In [4]:
3+np.nan

nan

In [6]:
a=np.array([1,2,np.nan,3])

In [7]:
a.sum()

nan

In [8]:
a.std()

nan

In [9]:
a.mean()

nan

In [12]:
a=pd.Series([1,np.inf,3], index=['a','b','c'])

In [13]:
a

a    1.0
b    inf
c    3.0
dtype: float64

In [14]:
a.sum()

inf

In [17]:
np.isinf(a[1])

True

In [18]:
np.isnan(a[1])

False

In [23]:
df=pd.DataFrame({
    'population':[1,2,3],
    'GDP':[4,5,6],
})

In [24]:
df

   population  GDP
0           1    4
1           2    5
2           3    6

In [26]:
df.index = [
    'vietnam',
    'thailan',
    'laos'
]

In [27]:
df

         population  GDP
vietnam           1    4
thailan           2    5
laos              3    6

In [31]:
df.loc['laos']

population    3
GDP           6
Name: laos, dtype: int64

In [32]:
df['population']

vietnam    1
thailan    2
laos       3
Name: population, dtype: int64

In [3]:
import numpy as np
import pandas as pd

In [7]:
df=pd.DataFrame({
    'population':[1,2,3],
    'GDP':[4,5,6]
})

In [8]:
df.index=['thai','viet','laos']

In [9]:
df

      population  GDP
thai           1    4
viet           2    5
laos           3    6

In [10]:
df.loc['thai']

population    1
GDP           4
Name: thai, dtype: int64

In [13]:
df.iloc[1]

population    2
GDP           5
Name: viet, dtype: int64

In [16]:
df['population']. to_frame()

      population
thai           1
viet           2
laos           3

In [17]:
df[['population','GDP']]

      population  GDP
thai           1    4
viet           2    5
laos           3    6

In [19]:
df['population']=np.nan

In [20]:
df

      population  GDP
thai         NaN    4
viet         NaN    5
laos         NaN    6

In [21]:
np.isnan(df['population'])

thai    True
viet    True
laos    True
Name: population, dtype: bool

In [22]:
np.isinf(df['GDP'])

thai    False
viet    False
laos    False
Name: GDP, dtype: bool