In [7]:
import sys
import numpy as np
import pandas as pd

In [54]:
A=pd.Series([1,2,3], index=['a','b','c'])

In [60]:
A.loc['a':]

a    1
b    2
c    3
dtype: int64

In [26]:
A[['b','c']]

b    2
c    3
dtype: int64

In [11]:
B=pd.Series({
    'a':1,
    'b':2,
    'c':3
})

In [12]:
B

a    1
b    2
c    3
dtype: int64

In [33]:
A.iloc[1]

2

In [34]:
A>1

a    False
b     True
c     True
dtype: bool

In [35]:
A[A>1]

b    2
c    3
dtype: int64

In [36]:
A.mean()

2.0

In [38]:
A[A>A.mean()]

c    3
dtype: int64

In [40]:
A*100_000

a    100000
b    200000
c    300000
dtype: int64

In [41]:
np.log(A)

a    0.000000
b    0.693147
c    1.098612
dtype: float64

In [42]:
df=pd.DataFrame({
    'population':[1,2,3,4],
    'GDP':[5,6,7,8],
    'Area':[2,3,4,5],
})

In [43]:
df

   population  GDP  Area
0           1    5     2
1           2    6     3
2           3    7     4
3           4    8     5

In [44]:
df.index=['a','b','c','d']

In [45]:
df

   population  GDP  Area
a           1    5     2
b           2    6     3
c           3    7     4
d           4    8     5

In [46]:
df.columns

Index(['population', 'GDP', 'Area'], dtype='object')

In [47]:
df.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [49]:
df

   population  GDP  Area
a           1    5     2
b           2    6     3
c           3    7     4
d           4    8     5

In [51]:
df.loc['a'
]

population    1
GDP           5
Area          2
Name: a, dtype: int64

In [52]:
df.iloc[-1]

population    4
GDP           8
Area          5
Name: d, dtype: int64

In [66]:
df['population']

a    1
b    2
c    3
d    4
Name: population, dtype: int64

In [67]:
df.loc['a']

population    1
GDP           5
Area          2
Name: a, dtype: int64

In [68]:
df.iloc[1]

population    2
GDP           6
Area          3
Name: b, dtype: int64

In [69]:
df.shape

(4, 3)

In [70]:
df.mean()

population    2.5
GDP           6.5
Area          3.5
dtype: float64

In [71]:
df.sum()

population    10
GDP           26
Area          14
dtype: int64

In [72]:
df['population'].sum()

10

In [74]:
df.iloc[1].mean()

3.6666666666666665

In [79]:
df['population'].to_frame()

   population
a           1
b           2
c           3
d           4

In [85]:
df['a']

KeyError: 'a'