In [1]:
import pandas as pd
import numpy as np

In [2]:
df= pd.DataFrame({
    'population':[1,2,3],
    'GDP':[4,5,6],
})

In [3]:
df

   population  GDP
0           1    4
1           2    5
2           3    6

In [5]:
df.index=['vietnam', 'korea','thailand']

In [6]:
df

          population  GDP
vietnam            1    4
korea              2    5
thailand           3    6

In [7]:
df.index

Index(['vietnam', 'korea', 'thailand'], dtype='object')

In [8]:
df.columns

Index(['population', 'GDP'], dtype='object')

In [9]:
df.size

6

In [10]:
df.shape

(3, 2)

In [11]:
df.describe

<bound method NDFrame.describe of           population  GDP
vietnam            1    4
korea              2    5
thailand           3    6>

In [12]:
df.dtypes

population    int64
GDP           int64
dtype: object

In [14]:
df.loc['vietnam']

population    1
GDP           4
Name: vietnam, dtype: int64

In [18]:
df.iloc[0]

population    1
GDP           4
Name: vietnam, dtype: int64

In [19]:
df.info

<bound method DataFrame.info of           population  GDP
vietnam            1    4
korea              2    5
thailand           3    6>

In [20]:
df.loc[df['GDP']>5]

          population  GDP
thailand           3    6