In [1]:
import numpy as np
import pandas as pd
import matplotlib as mtl

In [2]:
a= np.array([1,2,3])

In [4]:
a=pd.Series([a, np.nan, np.inf])

In [5]:
a.sum()

array([inf, inf, inf])

In [6]:
np.isnan(np.nan)

True

In [7]:
a=np.array([1,2,3,np.nan, np.nan, 4])

In [9]:
a[~np.isnan(a)]

array([1., 2., 3., 4.])

In [11]:
a[np.isfinite(a)].sum()

10.0

In [13]:
b=pd.Series([1,2,3], index=['a','b','c'])

In [14]:
b

a    1
b    2
c    3
dtype: int64

In [15]:
b['a']=np.nan

1

In [18]:
b.iloc[1]= np.nan

In [19]:
b

a    1.0
b    NaN
c    3.0
dtype: float64

In [21]:
pd.isnull(b)

a    False
b     True
c    False
dtype: bool

In [22]:
pd.isna(b)

a    False
b     True
c    False
dtype: bool

In [23]:
pd.notnull(b)

a     True
b    False
c     True
dtype: bool

In [24]:
pd.notnull(b).sum()

2

In [26]:
pd.isna(b).sum()

1

In [30]:
pd.DataFrame(
    data=[None],
    columns=[None],
    index=[None]
)

      None
None  None

In [34]:
df=pd.DataFrame(
    {
    'Column A': [1, np.nan, 30, np.nan],
    'Column B': [2, 8, 31, np.nan],
    'Column C': [np.nan, 9, 32, 100],
    'Column D': [5, 8, 34, 110],
    }
)

In [35]:
df

   Column A  Column B  Column C  Column D
0       1.0       2.0       NaN         5
1       NaN       8.0       9.0         8
2      30.0      31.0      32.0        34
3       NaN       NaN     100.0       110

In [36]:
df.dropna()

   Column A  Column B  Column C  Column D
2      30.0      31.0      32.0        34

In [37]:
df

   Column A  Column B  Column C  Column D
0       1.0       2.0       NaN         5
1       NaN       8.0       9.0         8
2      30.0      31.0      32.0        34
3       NaN       NaN     100.0       110

In [50]:
df.dropna('columns'=0)

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (2257470511.py, line 1)

In [51]:
sr=pd.Series([1,2,3,np.nan])

In [52]:
sr

0    1.0
1    2.0
2    3.0
3    NaN
dtype: float64

In [53]:
sr.dropna()

0    1.0
1    2.0
2    3.0
dtype: float64